asgiref==3.2.3
astroid==2.3.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0
django-auditlog==0.4.7
django-bootstrap-form==3.4
django-crispy-forms==1.9.2
django-firebird==1.11
django-jsonfield==1.4.1
django-sitemaps==1.1.1
fdb==2.0.1
firebirdsql==1.1.4
future==0.18.2
jsonfield==2.0.0
lxml==4.6.3
mypy==0.790
mypy-extensions==0.4.3
mysqlclient==2.0.1
Pillow==7.2.0
python-dateutil==2.6.0
python-decouple==3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pep8==1.7.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
static3==0.7.0
typed-ast==1.4.1
wrapt==1.11.2
