{% extends "base.html" %}
{% block header %}
{% include 'includes/header-logout.html' with titulo='Sua Agenda' descricao='Crie seus eventos com descrição, data e local.' %}
{% endblock header %}

{% block conteudo %}

    <h2><font color="DarkOliveGreen	">Agendamentos</font></h2>  
    <a href="evento/">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><b>NOVO EVENTO</b></button>
    </a>
    <ul style="font-size: 20px">
        {% for evento in eventos %} 
          <li class="pure-menu-selected">
            <div {% if evento.get_evento_atrasado%}
                    style="color:red"
                 {% elif evento.get_evento_proximo %}
                    style="color:#DF9808"
                 {% endif %}>
              {{ evento.titulo  }} - {{  evento.get_data_evento }} 
              <!-- vai para o html evento.html com o id do evento-->  
              <a href="evento/?id={{ evento.id }}" style="text-decoration:none">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Editar</button>
              </a>
              
              <a href="evento/delete/{{ evento.id }}/">
                <button type="submit" class="btn btn-outline-danger my-2 my-sm-0" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">Excluir</button>
              </a>
            </div>
          </li>
          <br>
        {% endfor %}
    </ul>
{% endblock %}