{% extends "base.html" %}
{% block header %}
{% include 'includes/header-logout.html' with titulo='Agenda' descricao='Edite seu evento.' %}
{% endblock header %}
{% block conteudo %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <label>Título:</label>
    <input class="form-control" type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <br>
    <input class="form-control"  type="text" name="titulo" size="23" value="{{ evento.titulo }}">
    <br>
    <label>Data do Evento:</label>
    <br>
    <!-- <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}"> -->
    <input placeholder="Data" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.value == '{{ evento.get_data_input_evento }}' ? this.type='text' : this.type='date')">
 
    <br>
    <label>Descrição:</label>
    <br>
    <textarea class="form-control" name="descricao" rows="5" cols="35">{{ evento.descricao }}</textarea>
    <br>
    <label>Local:</label>
    <br>
    <textarea class="form-control" name="local_evento" rows="2" cols="35">{{ evento.local_evento }}</textarea>
    <br> <br>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><b>Salvar</b></button>
    <a href="/">
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Cancelar</button>
    </a>
</form>
{% endblock %}