{% extends "base.html" %}
{% block header %}
{% include 'includes/header-logout.html' with titulo='Agenda' descricao='Edite seu evento.' %}
{% endblock header %}
{% block conteudo %}

<h2>Evento</h2>

<form action="submit" method="POST">{% csrf_token %}
    <label>Título:</label>
    <input class="form-control" type="number" name="id_evento" value="{{ evento.id }}" hidden>
    <br>
    <input class="form-control"  type="text" name="titulo" size="23" value="{{ evento.titulo }}" required>
    <br>
    <label>Data do Evento:</label>
    <br>
    <!-- <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}" required> -->
    <input placeholder="Data" class="form-control" name="data_evento" type="text" onfocus="(this.type='datetime-local')" onblur="(this.value == '{{ evento.get_data_input_evento }}' ? this.type='text' : this.type='datetime-local')" required>

    <!--Mensagem customizada required <div class="controls">
        <input class="span4" type="text" name="Campo" placeholder="Campo"  value=""  required oninvalid="this.setCustomValidity(\'Campo requerido\')">
    </div> -->

    <br>
    <label>Descrição:</label>
    <br>
    <textarea class="form-control" name="descricao" rows="5" cols="35">{{ evento.descricao }}</textarea>
    <br>
    <label>Local:</label>
    <br>
    <textarea class="form-control" name="local_evento" rows="2" cols="35">{{ evento.local_evento }}</textarea>
    <br> <br>
    <button style="float:left; margin-right: 5px;" type="submit" class="btn btn-outline-success my-2 my-sm-0"><b>Salvar</b></button>
</form>
    <a href="/">
        <button class="btn btn-outline-danger my-2 my-sm-0">Cancelar</button>
    </a>
{% endblock %}